.featuers-content_18{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1rem;
}

.feature-card_18{
    background-color: var(--white);
    color: var(--gray-900);
    box-shadow: 0 1px 8px 1px var(--shadow-color-2);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.icon_18{
    width: 3rem;
    height: 3rem;
    color: #1d4ed8;/* var(--blue-700 ) */
}

.title_18{
    display: block;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1rem;
}
.subtitle_18{
    font-size: .9rem;
    font-family: var(--main-font-b);
    color: #6b7280;/* var(--gray-500 ) */
}

/*___________ RESPONCIYE ___________________*/
@media screen and (max-width: 992px) {
    .featuers-content_18{
        grid-template-columns: repeat(2 , 1fr);
    }
    
}
@media screen and (max-width: 568px) {
    .featuers-content_18{
        grid-template-columns: 1fr;
    }
    .icon_18{
        width: 2.5rem;
    }
}