.myx-2 {
    margin: 3rem;
}

.blog-card_17 {
    display: block;
    max-width: 15rem;
    border-radius: .5rem;
    padding-bottom: .75rem;
    background-color: var(--white);
    box-shadow: 0 1px 10px -1px var(--shadow-color-3);
    overflow: hidden;
    cursor: pointer;
    direction: rtl;
}

.card-image_17 {
    max-width: 100%;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
}

.card-image_17 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 5 / 3;
}

.date-tag_17 {
    font-size: .9rem;
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6b7280;/* var(--gray-500 )  */
}

.card-date_17,
.card-tag_17 {
    display: flex;
    align-items: center;
    gap: .25rem;
}


.card-title_17 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    font-size: 1rem;
    padding-inline: .5rem;
}