.myx-2 {
    margin: 3rem;
}

.blog-card-35 {
    display: block;
    max-width: 15rem;
    border-radius: .5rem;
    padding-bottom: .75rem;
    background-color: var(--white);
    box-shadow: 0 1px 10px -1px var(--shadow-color-3);
    overflow: hidden;
    cursor: pointer;
    direction: rtl;
}

.card-image-35 {
    min-width: 10rem;
    max-width: 15rem;
    height: 10rem;
    border-radius: 0 0 1.5rem 1.5rem;
    overflow: hidden;
}

.card-image-35 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.date-tag-35 {
    font-size: .9rem;
    padding: .75rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6b7280;/* var(--gray-500 )  */
}

.card-date-35,
.card-tag-35 {
    display: flex;
    align-items: center;
    gap: .25rem;
}


.card-title-35 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    font-size: 1rem;
    padding-inline: .5rem;
}