.sidemenu-45 {
    background-color: var(--white);
    color: #111827;
    /*  var(--gray-900 ) */
    box-shadow: 0 0 8px 1px var(--shadow-color-2);
    padding: 1rem .5rem;
    border-radius: 1rem;
    width: 15rem;
    height: max-content;
}

.categories-45 {
    margin-top: .75rem;
    padding: .5rem;
    border-top: 1px solid #d1d5db;
    /*  var(--gray-300 ) */
}

.item-45 {
    padding: .3rem 0;
}

.item-45 input {
    width: 1.1rem;
    height: 1.1rem;
    transform: translateY(4px);
    cursor: pointer;
    opacity: .4;
    accent-color: #16a34a;
    /* var(--green-600 ) */
}

.item-45 label {
    padding-inline-start: 3px;
    cursor: pointer;

}

.item-45 input:checked~label {
    font-weight: bold;
}

.item-45 input:checked {
    opacity: 1;
}

/*_________ Make Responcive ________________*/
@media screen and (max-width: 1200px) {
    .sidemenu-45 {
        width: 12rem;
    }
}