.main-content_65{
    height: 100%;
}
.success-card_65{
    --card-bg: var(--green-100);
    --text-color: var(--green-900 );
    --shadow: var(--green-300 );
    max-width: 35rem;
    margin: auto;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 4px 10px -1px var(--shadow);
    color: var(--text-color);
}
.success-card_65 p{
    font-size: 1.2rem;
    padding: .5rem;
    line-height: 1.8rem;
}

.error_65{
    --card-bg:var(--red-200 ) ;
    --text-color: var(--red-950 );
    --shadow: var(--red-400 );
}