/*

.comment-form_54 input:not([value = '']) ~ label{
    transform: translateY(1rem);

}
*/
.input-box-03{
    position: relative;
    margin-block: .5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: .35rem;
    background-color: rgba(250, 235, 215, 0.073);
}

.input-box-03 textarea,
.input-box-03 input{
    width: 100%;
    padding: .35rem .5rem;
    font-size: 1.1rem;
    font-family: var(--main-font);
    border: 2px solid var(--gray-300 );
    border-radius: .5rem;
    color: var(--gray-800 ); 
    transition: .3s;
}

.input-box-03 textarea{
    resize: none;
    min-height: 8rem;
}

.input-box-03 textarea::placeholder,
.input-box-03 input::placeholder{
    font-size: .95rem;
}

.input-box-03 label{
    padding-inline: .75rem ;
    color: var(--gray-500 );
    transition: .3s;
    cursor: pointer;
    width: max-content;
}

.input-box-03 textarea:focus,
.input-box-03 input:focus{
    border-color: var(--gray-500 );
}
.input-box-03 textarea:not(:empty) ,
.input-box-03 input:not([value = '']) {
    border-color: var(--green-700 );
}

.input-box-03 input:focus ~ label{
    color: var(--gray-800 );
}