
.main-container_82{
    margin-bottom: 3rem;
    padding: 0 .5rem ;
}
.form_82{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.profile-content_82{
    grid-column: span 2;
    display: flex;
    gap: 1rem;
    padding: 1rem ;
}

.image_82{
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
}
.image_82:has(img){
    border-radius: 50%;
}
.image_82 img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
.uloader{
    width: 100%;
    height: 100%;
}
.uloader input{
    display: none;
}

.img-btn_82{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    display: grid;
    place-items: center;
    border: 2px dashed var(--gray-400);
    color: var(--gray-500);
    cursor: pointer;
}
.profile-body_82{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.remove-profile_82{
    align-self: start;
    color: var(--red-800 );
    cursor: pointer;
}
.selection_82 label6{
    color: var(--gray-500);
}
.form-item_82{
    grid-column: span 2;
}
.form-buttons_82{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.submit-btn_82{
    flex: 1 1 10rem;
    width: 10rem;
    background-color: var(--green-500 );
    color: var(--white);
}
.submit-btn_82:hover{
    background-color: var(--green-400 );
}

.cancel-btn_82{
    flex: 1 1 10rem;
    width: 10rem;
    text-align: center;
    background-color: var(--red-50 );
    border: 2px solid var(--red-300);
}
.cancel-btn_82:hover{
    background-color: var(--red-100 );
}

/*_________________ Make Responcive _________________________*/
@media screen and (max-width:992px) {
    .main-container_82{
        margin-bottom: 2rem;
    }
    
}
@media screen and (max-width:568px) {
    .main-container_82{
        margin-bottom: 8rem;
    }
    .form_82{
        grid-template-columns: 1fr;
        gap: .5rem;
    }
    .form-item_82,
    .profile-content_82{
        grid-column: auto;
    }
    .form-buttons_82{
        flex-wrap: wrap;
    }
}
