.main_container_3{
    margin-block: 2rem;
    display: grid;
    grid-template-columns: 14rem 1fr;
    grid-template-rows: auto 1fr ;
    grid-template-areas: "filter cards" "category cards";
    gap: 1rem 2rem;
}

.filter-sort_3{
    grid-area: filter;
}

.sidemenu_3{
    grid-area: category;
}
.posts_3{
    grid-area: cards;
}

/*_________ MAke Responcive __________________*/
@media screen and (max-width: 1200px) {
    .main_container_3{
        grid-template-columns: 14rem 1fr;
    }
}
@media screen and (max-width: 992px) {
    .main_container_3{
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-areas: "category" "filter" "cards";
    }
    .filter-sort_3{
        margin-inline-start: .75rem;
        max-width: 15rem;
    }
}