.selection-wrapper-1 {
    position: relative;
    padding: .0rem 0;
    padding-bottom: 1.15rem;
    z-index: 5;
    user-select: none;
}

.label-1{
    color: var(--gray-500);
    display: inline-block;
    padding-bottom: .2rem;
    padding-inline-start: .5rem;
}

.error-1{
    position: absolute;
    font-size: .9rem;
    bottom: 0;
    right: .5rem;
    color: var(--red-600);
}

.selection-wrapper-1w:has(.error-1) > .selection-head-1{
    border-color: var(--red-700);
}

.selection-head-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: .5rem;
    border-radius: .45rem;
    border: 2px solid var(--border-color );
    background-color: var(--white );
    cursor: pointer;
    transition: .3s;
}

.icon-1 {
    transition: .3s;
    transform: translateY(2px);
}
.selection-wrapper-1:has(.menu-1) .icon-1{
    transform: rotate(90deg) translateY(2px);
}

.menu-1 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    padding: .5rem 0;
    border-radius: .25rem;
    background-color: var(--white );
    border: 1px solid var(--gray-300);
    box-shadow: 0 3px 8px -1px var(--shadow-color-3);
    animation: .3s dropDown-animation normal;
    transform-origin: top;
}

.options-1 {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    overflow-y: auto;
    max-height: var(--menu-max-height);
    scrollbar-width: none;
}

.options-1::-webkit-scrollbar {
    width: 0;
}

.option-1 {
    padding: .25rem .5rem;
    line-height: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.option-1:hover {
    background-color: var(--slate-100 );
}

.option-1:nth-child(1) {
    opacity: .8;
}

@keyframes dropDown-animation {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}