
/*______________________ Links _____________________*/
.navbar-content {
    position: relative;
    padding: 1rem;
    padding-bottom: 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav_link_02{
    color: var(--gray-700 );
    transition: .3s;
}

.menu-button_02 .btn {
    border-radius: 2rem;
}

.menu-button_02 .btn,
.nav_link_02 > a {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-button_02 .btn span,
.nav_link_02 > a span {
    transform: translateY(-.1rem);
}

.nav_link_02:hover{
    color: var(--gray-900 );
    transform: translateY(-2px);

}
/*____________ RESPONCIVE _______________*/

@media screen and (max-width:992px) {
    .navbar-content {
        display: none;
    }
}