/*_________ Open Nav Menu ____________*/
.nav-menu_container:hover,
.menu-button_02:hover .nav-menu_container {
    display: block;
}

.nav-menu_container {
    display: none;
    position: absolute;
    top: 3rem;
    left: 2%;
    width: 96%;
    padding-top: .93rem;
    border-radius: .25rem;
    color: var(--gray-900);
    overflow: hidden;
    box-shadow: 4px 6px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.menu-content_21 {
    /*ul*/
    position: relative;
    max-height: 20rem;
    min-height: 20rem;
    background-color: var(--gray-200);
}

.menu-item_21 {
    transition: .3s;
    width: max-content;
}

.menu-item_21:hover {
    cursor: pointer;
    background-color: #ffa41b30;/*  ffa41b30  */
    padding-inline-start: .5rem;
}

.menu-title {
    /*li*/
    width: 12rem;
    display: block;
    padding: 1rem .5rem;
    border-bottom: 1px dashed #d2d2d2d9;
    transition: .3s;
}


/* ul inside of li of frist ul */
.nav-sub-menu-grid,
.nav-sub-menu {
    /*ul ul*/
    position: absolute;
    right: 12rem;
    top: 0;
    background-color: var(--white) ;
    width: calc(100% - 12rem);
    height: 100%;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    cursor: default;
    transition: .1s ease-in;
}

.sub-menu-active,
.nav-sub-menu-grid:hover,
.nav-sub-menu:hover,
.menu-title:hover+.nav-sub-menu-grid,
.menu-title:hover+.nav-sub-menu {
    opacity: 1;
    visibility: visible;
}

.sub-menu-item {
    /*ul li*/
    position: relative;
    padding-block: .5rem;
    text-align: start;
    min-width: 8rem;
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav-sub-menu::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.nav-sub-menu::-webkit-scrollbar-thumb {
    background-color: #24395a;
    border-radius: 10px;
}

/*________________ Sub-Menu with Flex _______________*/
.nav-sub-menu {
    overflow-y: auto;
}

.nav-sub-menu .sub-menu-item {
    padding-inline: 1rem;
    margin-bottom: .5rem;
    width: max-content;
    font-weight: 700;
}

.nav-sub-menu .sub-menu-item:hover {
    margin-inline-start: .25rem;
}

.nav-sub-menu .sub-menu-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5%;
    width: 4px;
    height: 90%;
    border-radius: 10px 0 0 10px;
    background-color: #1d2126;
}

/*__________________ Sub-Menu with Grid _______________*/
.nav-sub-menu-grid {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    row-gap: 1rem;
    column-gap: .5rem;
    overflow-x: auto;
}

.nav-sub-menu-grid .sub-menu-item:hover {
    cursor: pointer;
    background-color: #d2d2d2d9;
    padding-inline-start: .5rem;
}

/*___________________________*/

@media screen and (max-width:992px) {
    
}