.Header-01{
    height: auto;
    padding: 2rem 2rem .5rem 2rem;
    background-color: var(--white);
    box-shadow: 0 1px 15px 1px var(--shadow-color-1);
}

.header_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo-01 {
    width: 10rem;
    font-size: 2rem;
}

.header-logo-01 img {
    width: 100%;
    height: 100%;
    transform: translateY(5px);
}
.search-box-01{
    --input-height: 3rem;
    --input-radius: 3rem;
    width: 30%;
    flex-shrink: 1;
}

.header-button-group {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.header-btn-01 {
    padding: .5rem 1rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--gray-600);
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    box-shadow: 0 2px 4px 2px var(--shadow-color-2);
    cursor: pointer;
    flex-shrink: 0;
}

.header-btn-01:nth-child(3) span {
    font-size: 1rem;
}

.header-btn-01 .cart-couner {
    background-color: var(--gray-900);
    color: var(--white);
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    font-size: .85rem;
}

.header-btn-01 .title {
    font-size: 1.2rem;
    padding-bottom: .3rem;
}

/*______________________________________ RESPONCIVE ________________*/
@media screen and (max-width:992px) {
    .Header-01{
        padding: .5rem ;
        position: sticky;
        top: 0;
        z-index: 9;
    }

    .header-button-group,
    .header-logo-01 {
        display: none;
    }
    .search-box-01 {
        width: 100%;
    } 
}
@media screen and (max-width:768px) {
    .search-box-01{
        --input-height: 2.5rem;
        --input-radius: .5rem;
    }
}