.Header-01{
    height: auto;
    padding: 2rem 2rem .5rem 2rem;
    background-color: var(--white);
    box-shadow: 0 1px 15px 1px var(--shadow-color-1);
}

.header_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo-01 {
    width: 10rem;
    font-size: 2rem;
}

.header-logo-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-box {
    width: 50%;
    position: relative;
}

.search-input {
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);
    border-radius: 3rem;
    width: 100%;
    height: 3rem;
    padding: .25rem 1rem .25rem 3.5rem;
    font-size: 1rem;
    transition: .3s;
}

.search-input::placeholder {
    text-align: right;
}

.search-input:focus {
    border-color: var(--gray-600);
}

.search-box .search-icon {
    position: absolute;
    left: .25rem;
    top: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.8rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px 2px var(--shadow-color-4);
}

.header-button-group {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.header-btn-01 {
    padding: .5rem 1rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--gray-600);
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    box-shadow: 0 2px 4px 2px var(--shadow-color-2);
    cursor: pointer;
}

.header-btn-01:nth-child(2) {
    width: 3rem;
    padding: 0;
}

.header-btn-01 .cart-couner {
    background-color: var(--gray-900);
    color: var(--white);
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
    font-size: .85rem;
}

.header-btn-01 .title {
    font-size: 1.2rem;
    padding-bottom: .3rem;
}

/*______________________________________ RESPONCIVE ________________*/
@media screen and (max-width:992px) {
    .Header-01{
        padding: .5rem ;
        position: sticky;
        top: 0;
        z-index: 9;
    }

    .header-button-group,
    .header-logo-01 {
        display: none;
    }
    .search-box {
        width: 100%;
    }
    .search-input{
        border-radius: .5rem;
    }
    .search-box .search-icon{
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
        color: var(--gray-600);
        border-right: 1px solid var(--gray-600);
    }
}
@media screen and (max-width:568px) {
    .search-input{
        height: 2.5rem;
    }
    .search-box .search-icon {
        height: 2rem;
        line-height: 2.3rem;
    }
}