.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 130px 0;
    perspective: 780px;
}

.text {
    font-size: 20px;
    font-weight: 700;
    color: #111111;
    z-index: 10;
}

.load-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
}

.load-inner.load-one {
    left: 0%;
    top: 0%;
    border-bottom: 3px solid #5c5edc;
    animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
    right: 0%;
    top: 0%;
    border-right: 3px solid #9147ff;
    animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
    right: 0%;
    bottom: 0%;
    border-top: 3px solid #3b82f6;
    animation: rotate3 1.15s 0.15s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    }
}


/*         Loading 2 _________*/

.loader2 {
    text-align: center;
    position: relative;
    display: flex;
}

.loader2 .ball {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.ball {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(circle at 8px 5px, white 5%, black);
    position: relative;
    transform-origin: 50% -100px;
}

.ball:last-child {
    animation: balance-right 1.2s infinite linear;
}

.ball:first-child {
    animation: balance-left 1.2s infinite linear;
}

@keyframes balance-right {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(-30deg);
        animation-timing-function: ease-in;
    }
}

@keyframes balance-left {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    25% {
        transform: rotate(30deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
}

/*___________ Button Loader __________________*/
.button-loader_005 {
    --dot-size: 10px ;
    --dot-bg-1: #b3d4fc ;
    --dot-bg-2:#6793fb ;
    --duration: 1.5s ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.dot_005 {
    height: var(--dot-size);
    width: var(--dot-size);
    border-radius: 10px;
    background-color: var(--dot-bg-1);
    animation: pulse var(--duration) infinite ease-in-out ;
}

.dot_005:last-child {
    margin-right: 0;
}

.dot_005:nth-child(1) {
    animation-delay: 0.5s;
}

.dot_005:nth-child(2) {
    animation-delay: 0.4s;
}

.dot_005:nth-child(3) {
    animation-delay: 0.3s;
}
.dot_005:nth-child(4) {
    animation-delay: 0.2s;
}
.dot_005:nth-child(5) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8) translateY(3px);
        background-color: var(--dot-bg-1);
        box-shadow: 0 0 0 0 var(--dot-bg-1);
    }

    50% {
        transform: scale(1.2) translateY(-3px);
        background-color: var(--dot-bg-2);
        box-shadow: 0 0 0 10px transparent;
    }

    100% {
        transform:scale(0.8) translateY(3px) ;
        background-color: var(--dot-bg-1);
        box-shadow: 0 0 0 0 var(--dot-bg-1);
    }
}