

.gallery-slider-52{
    position: relative;
    padding: .25rem;
    width: var(--gallery-size);
    border-radius: .5rem;
    border: solid #d1d5db;
}


.img-content-52{
    height:  6rem;
    max-width: var(--gallery-size);
    padding-block: .5rem;
    display: flex;
    gap: .25rem;
    overflow-x: auto;
}
.img-content-52::-webkit-scrollbar{
    height: 4px;
    background-color: #e2e8f0; /* slate- 200 */
}
.img-content-52::-webkit-scrollbar-thumb{
    background-color: #64748b; /* slate- 400 */
    border-radius: 5px;
}

.gallery-slider-52 img{
    width: 100%;
    height: auto;
    aspect-ratio: 42 / 30;
}

.img-content-52 img{
    height: 100%;
}

.gallery-item-52{
    flex-shrink: 0;
    overflow: hidden;
    border-radius: .5rem;
    border: 2px solid #d1d5db;
    cursor: pointer;
    transition: .3s;
}

.gallery-item-52:hover,
.selected-img-52{
    border-color: #3b82f6; /* var(--blue-500 ) */
}

/* ______________________ */
.prevent-arrow-52,
.next-arrow-52{
    background-color: transparent;
    color: #94a3b8; /* var(--slate-400 ) */
    position: absolute;
    top: calc(50% - 1.5rem);
    right: -1rem;
    width: 3rem;
    height: 3rem;
    z-index: 1;
    opacity: .3;
    transition: .3s;
}

.prevent-arrow-52{
    left: -1rem;
    right: unset;
}

.next-arrow-52:hover,
.prevent-arrow-52:hover{
    cursor: pointer;
    opacity: 1;
}
.gallery-open-51 .prevent-arrow-52{
    left: -8%;
    opacity: 1;
    color: rgb(0, 0, 0);
}
.gallery-open-51 .next-arrow-52{
    right: -8%;
    opacity: 1;
}

/*_______ Make Responcive ___________*/
@media screen and (max-width: 1300px) {
    
}