.progres-wrapper_61 {
    --progress-duration: 1s;
    position: relative;
    height: max-content;
}

.step-content_61 {
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.step_61 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.title_61 {
    font-size: 1.2rem;
    color: var(--gray-400);
}

.number_61 {
    background-color: rgb(255, 255, 255);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    line-height: 2.5rem;
    text-align: center;
    font-weight: bold;
    box-shadow: var(--shadow-2);
    transition: var(--progress-duration);
}

.progress_61 {

    --icon-opacity: 1;
    --anim: ico;
    --anim-2: prog;
    position: absolute;
    left: 0;
    bottom: 1rem;
    width: 100%;
    height: 8px;
    background-color: var(--gray-300);
    z-index: -2;
}

.progress_61::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(--end-value);
    height: 100%;
    background-color: var(--gray-800);
    transition: var(--progress-duration) ease-in;
    animation: var(--anim-2) var(--progress-duration) forwards;
}


.step_61-1 .progress_61 {
    --progress-value: 10%;
}

.step_61-1 .step_61:nth-child(1) .number_61 {
    background-color: chartreuse;
}

/*_________ Animations ___________________*/

.step-one_61 {
    --start-value: 0;
    --end-value: 13%;
}

.step-one_61 .progress_61::before {
    animation: prog 1s forwards;
}

.step-one_61 .progress-icon_61 {
    animation: ico 1s forwards;
}

.step-two_61 {
    --start-value: 13%;
    --end-value: 37%;
}

.step-two_61 .progress_61::before {
    animation: prog 1s forwards;
}

.step-two_61 .progress-icon_61 {
    animation: ico 1s forwards;
}

/*_________ Animations ___________________*/
@keyframes prog {
    from {
        width: var(--start-value)
    }

    to {
        width: var(--end-value)
    }
}

@keyframes ico {
    0% {
        right: var(--start-value);
    }

    100% {
        right: var(--end-value);
    }
}