.detailes-card_52 {
    flex: 1;
    background-color: var(--white );
    padding: 1rem;
    border-radius: .95rem;
    box-shadow: var(--shadow-2);
    display: flex;
    flex-direction: column;
}

.title_52 {
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--gray-300 );
}

.car-info_52 {
    color: var(--gray-500 );
}

.car-info_52 span {
    color: var(--gray-800 );
    font-weight: 600;
    padding-inline: .25rem;
}

/*____________________________*/

.detaile-body_52 {
    flex-grow: 1;
    display: flex;
    gap: .5rem;
    margin-block: 1rem;
}

.featurs-content_52 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding-inline: .5rem;   
}
.featurs-content_52:nth-child(1){
    border-left: 1px solid var(--gray-300 );
}

.feature_52 {
    padding-block: .25rem ;
    font-size: 1.15rem;
}
.feature_52 a {
    display: inline;
    color: var(--blue-600 );
}

.feature_52 span:first-child {
    display: inline-block;
    color: var(--gray-600 ); 
    font-size: 1rem;
    padding-inline-end: .25rem;
}
.ratting_52{
    padding-block: .25rem;
}
.ratting_52 .icon_52{
    color: var(--yellow-500 );
}

.flex_52{
    display: flex;
    align-items: center;
    gap: .4rem;
}
.toggle-content_52{
    justify-content: space-between;
    gap: .75rem;
}

.toggles_52{
    gap: 1rem;  
}

.location-btn_52{
    margin-top: .25rem;
    align-self: flex-start;
    background-color: var(--sky-100 );
    box-shadow: 0 2px 5px -1px #7dd4fcbd ;
}
.location-btn_52 span.icon_52{
    color: black;
}
.location-btn_52:hover{
    background-color: var(--sky-200 );
}
.footer-butons_52,
.detaile-footer_52 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detaile-footer_52{
    gap: 1rem;
    padding: 1rem;
    border-top: 2px solid var(--gray-300 );
}

.footer-butons_52{
    flex-wrap: wrap;
    gap: .5rem;
    color: var(--white);
}

.price_52 {
    text-align: center;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 600;
}

.price_52 span {
    font-weight: 500;
    font-size: 1rem;
    margin-inline-start: .5rem;
    color: var(--gray-700 );
}

.contact-btn_52 {
    background-color: var(--orange-600 );
    box-shadow: 0 2px 8px -1px var(--orange-600 );
    color: inherit;
}


.link-btn_52{
    background-color: var(--green-500 );
    box-shadow: 0 2px 8px -1px var(--green-400 );
}

.contact-btn_52:hover,
.link-btn_52:hover {
    box-shadow: none;
    transform: scale(.99);
}



.contact-card_52{
    width: 20rem;
    min-height: 8rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}
.card-header_52{
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--gray-300);
}
.close-icon_52{
    position: absolute;
    top: -.5rem;
    left: -.25rem;
    font-size: 1.25rem;
    color: var(--red-800);
    cursor: pointer;
}
.contact-item_52{
    background-color: var(--slate-100 );
    padding: .25rem;
    border-radius: .25rem;
    margin-block: .25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@keyframes modal-openup {
    from{transform: translateY(110%);}
    to{transform: translateY(0);}
}
/*________ Make Responcive ________________________*/
@media screen and (max-width: 568px) {
    .contact-card_52{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30%;
        border-radius: .25rem;
        animation: modal-openup .3s forwards;
    }
}
@media screen and (max-width: 601px) {
    .detaile-body_52{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .featurs-content_52:nth-child(1){
        border: 0;
    }
    .detaile-footer_52{
        flex-direction: column;
    }

}
