.brannd_section{
    background-color: var(--slate-800);
    color: var(--white);
    padding: 2rem 0;
}

.brand_container_16{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_16{
    flex-shrink: 0;
    width: 15rem;
    position: relative;
    padding-inline: 1rem;
}
.header_16::after{
    content: '';
    position: absolute;
    inset: 0 0;
    width: 3px;
    height: 100%;
    background-color: var(--red-600 ); /*  var(--red-600 )  */
}
.header_16 h4{
    font-size: 1.75rem;
    font-weight: 600;
}
.brands-holder_16{
    color: var(--gray-900);
}

.brands-holder_16 ul {
    background-color: var(--white);
    max-width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.brands-holder_16 ul li {
    width: 6rem;
    padding: .25rem .5rem ;
    text-align: center;
}

.brand-image_16{
    margin-inline: auto;
    width: 100%;
    height: 4rem;
    margin-bottom: .25rem;
}
.brand-image_16 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.brand-name_16{
    
}

/*__________ RESPONCIVE _____________________*/
@media screen and (max-width: 1024px) {
    .brannd_section{
        padding: .5rem 0;
    }
    .brand_container_16{
        flex-direction: column;
        gap: 2rem;
    }
    .header_16{
        align-self: self-start;
    }
    .brands-holder_16 ul{
        width: 100%;
        max-width: 100%;
    }
}