/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
*/
/*________________________________________*/
@font-face {
  font-family: 'main-font';
  src: url('/public/Font/BYekan.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'main-font-bold';
  src: url('/public/Font/BYekanBold.ttf');
  font-style: normal;
}

:root {
  --black: #000000;
  --main-font-b: 'main-font-bold';
  --main-font: 'main-font';
  --white: #ffffff;
  --gray-100: #f4f4f4;
  --gray-200: #eeeeee;
  --gray-600: #565757;
  --gray-900: #111111;
  --slate-700: #212529;
  --slate-800: #061C2F;
  --shadow-color-1: #4747474d;
  --shadow-color-2: #00000010;
  --shadow-color-3: #00000030;
  --shadow-color-4: #407bff31;
  --body-bg: #f8f8f9;

}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: var(--body-bg);
}

.container {
  max-width: 90rem;
  margin-inline: auto;
}

.font-lg {
  font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
  .font-lg {
    font-size: 1rem;
  }

  .container {
    max-width: 48rem;
  }
}

a:visited,
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input:focus {
  outline: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw)
}

.h2,
h2 {
  font-size: calc(1.325rem + .9vw)
}


.h3,
h3 {
  font-size: calc(1.3rem + .6vw)
}

.h4,
h4 {
  font-size: calc(1.275rem + .3vw)
}

.h5,
h5 {
  font-size: 1.25rem
}

.h6,
h6 {
  font-size: 1rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

@media (min-width: 1200px) {

  .h1,
  h1 {
    font-size: 2.5rem
  }

  .h2,
  h2 {
    font-size: 2rem
  }

  .h3,
  h3 {
    font-size: 1.75rem
  }

  .h4,
  h4 {
    font-size: 1.5rem
  }
}


.btn-primary {
  position: relative;
  background-color: var(--gray-900);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}

.btn-primary::after {
  content: '';
  position: absolute;
  right: -2rem;
  top: 0;
  height: 100%;
  opacity: 0;
  transform: rotate(-20deg);
  box-shadow: 0 0 20px 8px var(--white);
  transition: 0.5s ease-in;
}

.btn-primary:hover::after {
  opacity: 1;
  right: 150%;
}