.sliders-holder-21{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*______ HEADER ________*/
.banner-header{
    grid-column: 2 span ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:1rem ;
    margin-bottom: 1rem ;
}

.banner-header_link{
    text-align: center;
}

.banner-header_link img{
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    padding: .15rem;
    margin-bottom: .4rem;
    border-radius: 50%;
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);;
}
/*________ LEFT SLIDER ________________*/
.pruducts-slider{
    width: 24%;
    border-radius: .5rem;
    
}

/*________ LEFT SLIDER ________________*/
.banner-slider{
    width: 75%;
}

.banner-slider img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: .75rem;
}

/*__________ Resvonsive ____________*/

@media screen and (max-width: 992px) {
    .pruducts-slider{
        display: none;
    }
    .banner-slider{
        width: 100%;
    }
}