.sliders-holder_15{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*______ HEADER ________*/
.banner-header{
    grid-column: 2 span ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:1rem ;
    margin-bottom: .5rem ;
}

.banner-header_link{
    text-align: center;
}

.banner-header_link img{
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    padding: .15rem;
    margin-bottom: .4rem;
    border-radius: 50%;
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);;
}
/*________ LEFT SLIDER ________________*/
.pruducts-slider_15{
    width: 24%;
    border-radius: .5rem;
}

/*________ LEFT SLIDER ________________*/
.banner-slider_15{
    width: 75%;
}
.banner-image_15{
    border-radius: .75rem;
    overflow: hidden;
}
.banner-image_15 img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1020 / 360;
}

/*__________ Resvonsive ____________*/

@media screen and (max-width: 992px) {
    .pruducts-slider_15{
        display: none;
    }
    .banner-slider_15{
        width: 100%;
    }
}
@media screen and (max-width: 568px) {
    .banner-header{
        gap: 2rem;
        margin-bottom: 0;
    }
    .banner-header_link{
        font-size: 14px;
    }
    .banner-header_link img{
        width: 2rem;
        height: 2rem;
        padding: .1rem;
        margin-bottom: .1rem;
    }
}